* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-around; */
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

body {
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    background-color: black;
}

.sideber {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.574);
    width: 340px;
    border-radius: 0.7rem;
}

.main_content {
    background-image: linear-gradient(rgb(67, 5, 5),#121212, #121212);
    flex: 1;
    border-radius: 0.7rem;
    overflow: auto;
    height: 595px;
    margin: 6.8px 6.8px 0 0;

}

.music_player {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    margin: 6.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.572);
    font-size: 14px;
    line-height: 100%;
    position: relative;
    bottom: 0.3rem;
    font-weight: 500;
    margin-left: 0.8rem;
}

.nav {
    background-color: #121212;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    padding: 0.5rem 1.5rem;
    margin: 6.8px;
}

#nav1 {
    margin-bottom: 0.3rem;
}

#nav2 {
    margin-top: 0.3rem;
}

.option {
    display: flex;
    align-items: center;
    padding: .9rem 1.5rem 0 1.5rem;
}

.library {
    margin: 6.8px;
    /* padding: 1.3rem 1rem; */
    background-color: #121212;
    border-radius: 0.7rem;
}

.library a {
    margin-left: 0.4rem;
}

.playlist_ops {
    display: flex;
    margin: 0.9rem 0.9rem 0 0.9rem;
}

#div1, #div2, #div3{
    background-color: #2a2a2a;
    padding: 6.8px 9px;
    border-radius: 42px;
    font-size: 12.5px;
    font-weight: 300;
    color: white;
    margin: 6px 10px 6px 0px;
    font-weight: 650;
}

#sayan {
    background-color: #121212;
    border-radius: 0.7rem;
}

.sarch {
    height: 18px;
    display: flex;
    align-items: center;
}

.lib_box {
    width: 100%;
    padding: 14px;
    overflow: auto;
    height: 390px;
}

.lib_box::-webkit-scrollbar {
    display: none;
}

.main_content::-webkit-scrollbar {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    margin: 15px 16px 0 0;
}

.img {
    display: inline-block;
    background-color: rgb(3, 107, 64);
    border-radius: 5px;
    height: 43px;
    width: 43px;
    margin-right: 14px;
}

.box_p1 {
    font-size: 15px;
    color: white;
    font-weight: 550;
    line-height: 20px;
}

p {
    font-size: 12.5px;
    color: #898787;
}

/*------------------------------------*/

#a, #b {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 4.5px 6.5px;
    border-radius: 50%;
    margin: 5px;
    font-size: large;
}

.sticky_nav {
    display: flex;
    width: 100%;
    background-color: rgb(54, 4, 4);
    padding: 11px 1rem;
    align-items: center;
    position: sticky;
    top: 0;
}

.main_main {
    padding: 0px 1.4rem;
}

.card_slider {
    display: flex;
}

.cards {
    padding: 14px;
    width: 600px;
    background-color: #232323;
    border-radius: 12px;
    margin: 1.15rem 1.4rem 1.6rem 0;
}

.cards h3 {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10PX;
}

.card_image {
    height: 155px;
    width: 155px;
    border-radius: 11px;
    margin-bottom: 12px;
}

.full_card_slider h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.card_bar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.bars {
    background-color: #ffffff12;
    display: flex;
    align-items: center;
    width: 324.5px;
    margin: 10px 10px 0 0;
    border-radius: 0.2rem;
}

.iim {
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 6px;
}

.bars h4 {
    font-size: 11.5px;
    color: #fff;
    margin-left: 17px;
}

/*------------------------------------*/

.function {
    height: 64px;
    width: 530px;
    background-color: white;
}

.cards p {
    margin-bottom: 8px;
}